/* GENERAL */

body
{
    font-family: 'AR One Sans', sans-serif;
}
a
{
    text-decoration: none;
    display: block;
}
i
{
    cursor: pointer;
}
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.my-fluid
{
    width: 100%;
    display: block;
}
.my-bg-primary
{
    background-color: #3A556D;
}
.my-bg-secondary
{
    background-color :#2C3E50;
}

/* HEADER */

/* MAIN */
.hero-image
{
    width: 250px;
}

.line
{
    width: 8vw;
    min-width: 70px;
    height: 5px;
}

.overlay
{
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.card-img:hover .overlay
{
    opacity: 0.5;
}

.icon
{
    width: 60px;
    height: 60px;
    transition: all 0.5s ease-in-out;
}

/* ANIMATIONS/HOVER */
h2
{
    
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
h2:hover
{
    scale: 1.1;
    background: var(--text, linear-gradient(178deg, #DC3B18 -60.92%, #5713E7 261.72%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 1px rgba(117, 43, 212, 0.3);
}

/* star */
.fa-solid.fa-star:hover 
{
    animation: star 1.5s ease-in-out infinite;
}
@keyframes star 
{
    0%{
        scale: 1;
        rotate: 0;
    }
    50%{
        scale: 1.2;
        rotate: 0;
        color: rgb(223, 223, 16);
    }
    55%{
        rotate: 15deg;
    }
    60%{
        rotate: -15deg;
    }
    65%{
        rotate: 15deg;
    }
    70%{
        rotate: -15deg;
    }
    75%{
        rotate: 15deg;
    }
    80%{
        rotate: -15deg;
    }
    85%{
        rotate: 15deg;
    }
    90%{
        rotate: -15deg;
    }

}

/* card */
.fa-solid.fa-circle-up
{
    transition: all 0.5s ease-in-out;
    color: white;
}
.fa-solid.fa-circle-up:hover
{
    scale: 1.7;
    animation: upper 0.8s ease-in-out infinite;
}
@keyframes upper
{
    0%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(-4px);
        color: green;
    }
    80%
    {
        color: green;
    }
    100%{
        transform: translateY(0);
    }
}

/* brands */
.icon:hover
{
    scale: 1.2;
}
.fa-brands.fa-facebook-f:hover
{
    color: rgb(27, 27, 240);
}
.fa-brands.fa-twitter:hover
{
    color: rgb(27, 27, 240);
}
.fa-brands.fa-google-plus-g,
.fa-brands.fa-linkedin
{
    color: rgba(199, 24, 24, 0.675);
}
.fa-brands.fa-google-plus-g:hover,
.fa-brands.fa-linkedin:hover
{
    color: rgba(222, 16, 16, 0.899);
}







