/* GENERAL */

body
{
    font-family: 'AR One Sans', sans-serif;
}

a
{
    text-decoration: none;
    display: block;
}

i
{
    cursor: pointer;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-fluid
{
    width: 100%;
    display: block;
}

.my-bg-primary
{
    background-color: #3A556D;
}

.my-bg-secondary
{
    background-color :#2C3E50;
}

/* MAIN */
.hero-image
{
    width: 250px;
}

.line
{
    width: 8vw;
    min-width: 70px;
    height: 5px;
}

.overlay
{
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.card-img:hover .overlay
{
    opacity: 0.5;
}

.icon
{
    width: 60px;
    height: 60px;
}
/* ANIMATIONS/HOVER */
.fa-solid.fa-star:hover
{
    animation: star 1.5s ease-in-out infinite;
}
@keyframes star 
{
    0%{
        scale: 1;
        rotate: 0;
    }
    50%{
        scale: 1.2;
        rotate: 0;
    }
    55%{
        rotate: 15deg;
    }
    60%{
        rotate: -15deg;
    }
    65%{
        rotate: 15deg;
    }
    70%{
        rotate: -15deg;
    }
    75%{
        rotate: 15deg;
    }
    80%{
        rotate: -15deg;
    }
    85%{
        rotate: 15deg;
    }
    90%{
        rotate: -15deg;
    }

}





